.advantage-card
{
    border-radius: 10px;
    background-color: var(--white);
    padding: 116px 42px 41px 42px;
    width: 275px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: 45px 45px;
}

.advantage-card__text
{
    line-height: 32px;
    font-weight: 400;
}