<ul class="advantage-card-collection">
    <li class="advantage-card-collection__item">
        <app-advantage-card></app-advantage-card>
    </li>
    <li class="advantage-card-collection__item">
        <app-advantage-card></app-advantage-card>
    </li>
    <li class="advantage-card-collection__item">
        <app-advantage-card></app-advantage-card>
    </li>
    <li class="advantage-card-collection__item">
        <app-advantage-card></app-advantage-card>
    </li>
    <li class="advantage-card-collection__item">
        <app-advantage-card></app-advantage-card>
    </li>
    <li class="advantage-card-collection__item">
        <app-advantage-card></app-advantage-card>
    </li>
    <li class="advantage-card-collection__item">
        <app-advantage-card></app-advantage-card>
    </li>
    <li class="advantage-card-collection__item">
        <app-advantage-card></app-advantage-card>
    </li>
</ul>