.button
{
    border: none;
    background: transparent;
    color: var(--gold);
    border-radius: 10px;
    border: 1px var(--gold) solid;
    padding: 13px 20px;
    font-size: 16px;
    outline: none;
    transition: color .2s ease;
    font-family: 'Muller', sans-serif;
}

.button--large
{
    padding: 27px 29px;
}

.button:focus-visible
{
    color: var(--white);
    background-color: var(--gold);
    cursor: pointer;
}

.button:hover
{
    color: var(--white);
    background-color: var(--gold);
    cursor: pointer;
}

.button:active
{
    color: var(--white);
    background-color: var(--gold-dark);
    cursor: pointer;
}