<footer class="footer" [ngStyle]="{ 'background-image' : backroundImage }">
    <div class="footer__column footer__column--first">
        <p class="footer__text">
            © 2012-2020 Управляющая компания Объединенной сети «Лагуна Хотелс»
        </p>
        <p class="footer__text">
            Представленная на сайте информация носит справочный характер и не является публичной офертой
        </p>
        <a href="#" class="footer__link text-link text-link--primary">Пользовательское соглашениe</a>
    </div>
    <div class="footer__column footer__column--middle">
        <address class="footer__address">
            11710, улица Юности, дом 5 строение 4, офис 2
        </address>
        <div class="footer__phones">
            <a href="#" class="footer__phone footer__link text-link text-link--primary">+7 (499) 535-64-34</a>
            <a href="#" class="footer__phone footer__link text-link text-link--primary">+7 (495) 005-05-44</a>
        </div>
        <div class="footer__emails">
            <a href="#" class="footer__email footer__link text-link text-link--primary">lg.oona@mail.ru</a>
            <a href="#" class="footer__email footer__link text-link text-link--primary">hotels.ln@mail.ru</a>
        </div>
    </div>
    <div class="footer__column footer__column--last">
        <a href="#" class="icon-link footer__social-link">
            <mat-icon svgIcon="trip" class="icon-link__svg"></mat-icon>
        </a>
        <a href="#" class="icon-link footer__social-link">
            <mat-icon svgIcon="tw" class="icon-link__svg"></mat-icon>
        </a>
        <a href="#" class="icon-link footer__social-link">
            <mat-icon svgIcon="fb" class="icon-link__svg"></mat-icon>
        </a>
        <a href="#" class="icon-link footer__social-link">
            <mat-icon svgIcon="vk" class="icon-link__svg"></mat-icon>
        </a>
        <a href="#" class="icon-link footer__social-link">
            <mat-icon svgIcon="insta" class="icon-link__svg"></mat-icon>
        </a>
    </div>
</footer>