<ul class="service-card-collection">
    <li class="service-card-collection__item">
        <app-service-card 
            image="services-1.jpg"
            title="Эксклюзивное обслуживание"
            text="Равным образом постоянный количественный рост и сфера нашей активности">
        </app-service-card>
    </li>
    <li class="service-card-collection__item">
        <app-service-card
            image="services-2.jpg"
            title="Аренда банкетных залов"
            text="Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм">
        </app-service-card>
    </li>
    <li class="service-card-collection__item">
        <app-service-card
            image="services-3.jpg"
            title="Сауны, бассейны, бани, фитнес-залы"
            text="Не следует, однако забывать, что начало повседневной работы по формированию позиции">
        </app-service-card>
    </li>
    <li class="service-card-collection__item">
        <app-service-card
            image="services-4.jpg"
            title="Охраняемые автомобильные стоянки"
            text="Не следует, однако забывать, что начало повседневной работы по формированию позиции">
        </app-service-card>
    </li>
</ul>