.special-offer-card-collection
{
    display: flex;
    flex-direction: row;
    gap: 23px;
}

.special-offer-card-collection__list
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.special-offer-card-collection__list-item:not(:last-child)
{
    margin-bottom: 23px;
}