<div class="special-offer-card-collection">
    <ul class="special-offer-card-collection__list">
        <li class="special-offer-card-collection__list-item">
            <app-special-offer-card></app-special-offer-card>
        </li>
        <li class="special-offer-card-collection__list-item">
            <app-special-offer-card></app-special-offer-card>
        </li>
    </ul>
    <div class="special-offer-card-collection__global">
        <app-special-offer-card size="large"></app-special-offer-card>
    </div>
</div>