<div class="special-offer-card-collection">
  <ul class="special-offer-card-collection__list">
    <li class="special-offer-card-collection__list-item">
      <app-special-offer-card
        image="offer-1.jpg"
        title="Мальдивские острова"
        price="55 000"
      ></app-special-offer-card>
    </li>
    <li class="special-offer-card-collection__list-item">
      <app-special-offer-card
        image="offer-2.jpg"
        title="Горящий тур на остров Крит"
        price="30 000"
      ></app-special-offer-card>
    </li>
  </ul>
  <div class="special-offer-card-collection__global">
    <app-special-offer-card
      size="large"
      image="offer-3.jpg"
      title="Номера категории люкс"
      price="5000"
    ></app-special-offer-card>
  </div>
</div>
