.header
{
    padding-top: 30px;
}

.header__row
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__row:not(:last-child)
{
    margin-bottom: 26px;
}

.header__separator
{
    flex-grow: 1;
}

.header__logo
{
    margin-right: 40px;
}

.header__phone
{
    font-weight: 500;
    font-size: 20px;
}

.header__menu
{
    background-color: var(--white);
    border-radius: 20px;
    padding: 14px 45px;
}

.header-list__item
{
    color: var(--gray);
    font-size: 16px;
}

.header-list__item:not(:last-child)
{
    margin-right: 45px;
}

.header-buttons
{
    padding-left: 57px;
    border-left: 1px var(--gray-light) solid;
}

.header-buttons__button:not(:last-child)
{
    margin-right: 40px;
}

.header-lk-text
{
    margin-top: 4px;
    margin-left: 4px;
}