<div class="contacts-card">
    <div class="contacts-card__contacts-column">
        <div class="contacts-card__contact-row">
            <h3 class="contacts-card__contact-title">
                Адрес
            </h3>
            <p class="contacts-card__text">
                Москва, улица Юности, дом 5 строение 4, офис 2
            </p>
        </div>
        <div class="contacts-card__contact-row">
            <h3 class="contacts-card__contact-title">
                Телефоны
            </h3>
            <div class="contacts-card__phones">
                <a href="#" class="contacts-card__phone text-link text-link--primary">
                    +7 (499) 535-64-34
                </a>
                <a href="#" class="contacts-card__phone text-link text-link--primary">
                    +7 (495) 005-05-44
                </a>
            </div>
        </div>
        <div class="contacts-card__contact-row">
            <h3 class="contacts-card__contact-title">
                E-mail
            </h3>
            <div class="contacts-card__emails">
                <div class="contacts-card__email">
                    <a href="#" class="contacts-card__email text-link text-link--primary">
                        lg.oona@mail.ru
                    </a>
                    <span class="contacts-card__email-description">
                        по вопросам бронирования
                    </span>
                </div>
                <div class="contacts-card__email">
                    <a href="#" class="contacts-card__email text-link text-link--primary">
                        hotels.ln@mail.ru
                    </a>
                    <span class="contacts-card__email-description">
                        по вопросам сотрудничества
                    </span>
                </div>
            </div>
        </div>
        <div class="contacts-card__contact-row">
            <h3 class="contacts-card__contact-title">
                График
            </h3>
            <p class="contacts-card__text">
                Понедельник - пятница, с 10:00 до 19:00
            </p>
        </div>
        <div class="contacts-card__contact-row">
            <button class="button">
                Построить маршрут
            </button>
        </div>
    </div>
    <img class="contacts-card__image" src="../../../../../assets/images/lagoona-office.jpg">
</div>