.service-card
{
    width: 573px;
    background-color: var(--white);
    padding: 45px;
    border-radius: 15px;
    box-sizing: border-box;
    padding-top: 200px;
    position: relative;
}

.service-card__link
{
    font-size: 20px;
    outline: none;
}

.service-card__text
{
    line-height: 32px;
}

.service-card--first
{
    background-image: url('../../../../../assets/images/services-1.jpg');
    background-repeat: no-repeat;
}

.service-card__link:focus-visible::before
{
    display:block;
    content:"";
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    outline: 2px var(--gold) solid;
    outline-offset: 4px;
}