<div class="container">
  <div class="page-item">
    <app-header></app-header>
  </div>
  <section class="page-item section">
    <h2 class="section__title">Спецпредложения</h2>
    <app-special-offer-card-collection></app-special-offer-card-collection>
  </section>
  <section class="page-item about-us section">
    <h2 class="section__title about-us__title">О нас</h2>
    <p class="about-us__text">
      Идейные соображения высшего порядка, а также сложившаяся структура
      организации влечет за собой процесс внедрения и модернизации системы
      обучения кадров, соответствует насущным потребностям. Идейные соображения
      высшего порядка, а также дальнейшее развитие различных форм деятельности
      представляет собой интересный эксперимент проверки системы обучения
      кадров, соответствует насущным потребностям. Равным образом сложившаяся
      структура организации требуют определения и уточнения существенных
      финансовых и административных условий.
    </p>
  </section>
  <section class="page-item section">
    <h2 class="section__title">Услуги</h2>
    <app-service-card-collection></app-service-card-collection>
  </section>
  <section class="page-item section">
    <h2 class="section__title">Преимущества</h2>
    <app-advantage-card-collection></app-advantage-card-collection>
  </section>
  <section class="page-item section">
    <h2 class="section__title">Размещения</h2>
    <app-accommodation-card-collection></app-accommodation-card-collection>
  </section>
  <section class="page-item section section--gray">
    <h2 class="section__title tour-form-title">Хочу тур</h2>
    <app-tour-form></app-tour-form>
  </section>
  <section class="page-item section">
    <h2 class="section__title">Контакты</h2>
    <app-contacts-card></app-contacts-card>
  </section>
  <section class="page-item section">
    <app-footer></app-footer>
  </section>
</div>
