<ul class="accommodation-card-collection">
    <li class="accommodation-card-collection__item">
        <app-accommodation-card 
            image="hotel-1.jpg" 
            [rating]="4" 
            price="4 698"
            title="Lagoona española"
            description="Барселона, Испания">
        </app-accommodation-card>
    </li>
    <li class="accommodation-card-collection__item">
        <app-accommodation-card 
            image="hotel-2.jpg" 
            [rating]="5" 
            price="5 148"
            title="Lagoona son típicas"
            description="Барселона, Испания">
        </app-accommodation-card>
    </li>
    <li class="accommodation-card-collection__item">
        <app-accommodation-card 
            image="hotel-3.jpg" 
            [rating]="5" 
            price="6 254"
            title="Lagoona de la guerra"
            description="Барселона, Испания">
        </app-accommodation-card>
    </li>
    <li class="accommodation-card-collection__item">
        <app-accommodation-card 
            image="hotel-4.jpg" 
            [rating]="4" 
            price="6 320"
            title="Lagoona mentira piadosa"
            description="Барселона, Испания">
        </app-accommodation-card>
    </li>
    <li class="accommodation-card-collection__item">
        <app-accommodation-card 
            image="hotel-5.jpg" 
            [rating]="2" 
            price="6 457"
            title="Lagoona empujar la creatividad"
            description="Барселона, Испания">
        </app-accommodation-card>
    </li>
    <li class="accommodation-card-collection__item">
        <app-accommodation-card 
            image="hotel-6.jpg" 
            [rating]="1" 
            price="6 320"
            title="Lagoona el retorno"
            description="Барселона, Испания">
        </app-accommodation-card>
    <li class="accommodation-card-collection__item">
         <app-accommodation-card 
            image="hotel-7.jpg" 
            [rating]="5" 
            price="6 505"
            title="Lagoona mentira piadosa"
            description="Барселона, Испания">
        </app-accommodation-card>
    </li>
    <li class="accommodation-card-collection__item">
         <app-accommodation-card 
            image="hotel-8.jpg" 
            [rating]="4" 
            price="6 824"
            title="Lagoona suerte siguió siempre"
            description="Барселона, Испания">
        </app-accommodation-card>
    </li>
    <li class="accommodation-card-collection__item">
        <app-accommodation-card [isLast]="true"></app-accommodation-card>
    </li>
</ul>