<ul class="accommodation-card-collection">
    <li class="accommodation-card-collection__item">
        <app-accommodation-card></app-accommodation-card>
    </li>
    <li class="accommodation-card-collection__item">
        <app-accommodation-card></app-accommodation-card>
    </li>
    <li class="accommodation-card-collection__item">
        <app-accommodation-card></app-accommodation-card>
    </li>
    <li class="accommodation-card-collection__item">
        <app-accommodation-card></app-accommodation-card>
    </li>
    <li class="accommodation-card-collection__item">
        <app-accommodation-card></app-accommodation-card>
    </li>
    <li class="accommodation-card-collection__item">
        <app-accommodation-card [isLast]="true"></app-accommodation-card>
    </li>
</ul>